/*////////////////////////
    Table of Contents
    1. Global Styles
    2. Typography
    3. Layout
        3.1 Reusables
        3.2 Other
    4. Areas
        4.1 Header
        4.2 Introduction
        etc.
    5. Media Queries
////////////////////////*/

/* ------------------------------- 1. Global Styles -------------------------------- */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
:root{
    --paars: #5722CD;
    --blauw: #4B49E8;
    --roze: #ED4385;
    --zwart: #0C0C0C; /*standard text */
    --magnolia: #F2F0FF; /*for big floating words like 'hello' en 'services' */
    --lichtgrijs: #F3F6F9; /*for the background of the project */
}


/* ------------------------------- 2. Typography ----------------------------------- */

/* ------------------------------- 3. Layout --------------------------------------- */

/* --------------- 3.1 Reusables ----------------------- */

/* --------------- 3.2 Other --------------------------- */

/* ------------------------------- 4. Areas ---------------------------------------- */

/* --------------- 4.1 Header ------------------------- */

/* --------------- 4.2 Introduction ------------------- */

/* ------------------------------- 5. Media Queries -------------------------------- */

@media screen {
    
}